body {
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}

.item {
    height: 20%;
}

.custom-button {
    width: 110px!important;
    height: 30px;
    font-size: medium;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  .cartListItem {
    width: 100%;
    margin: 0px 30px 15px 30px;
  }

  .shoppingListItem { 
    flex: 40%;
    max-width: 535px;
    padding: 1%;
  }

  .plusMinusButton { 
    border-radius: 50%!important;
    font-size: small;
  }

  .count { 
    padding: 10px;
  }